<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KIOSKO</title>
</head>

<body>
    <header>
        <div id="search">
            <input type="text" name="busqueda">
            <img src="images/search_opt.png">
        </div>
    </header>

    <div>
        <h1>KIOSKO</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum lacus quis diam pretium luctus. Etiam eget est at erat accumsan interdum eu sit amet ligula. Nulla facilisi. Nullam at magna arcu. Fusce augue orci, convallis a elit a, congue aliquet orci. Duis pulvinar facilisis felis sed commodo. Nunc ac gravida massa, rutrum mattis nulla. </p>
    </div>
    
    <footer>
        <div class="centrado"></div>
    </footer>
</body>
</html>